<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
    <head>
        <title>IdeaFood :: Perfil</title>
    </head>
    <body>
        <section>
            <div>
                <label>Username</label>
                <h4 th:text="${usuario.userName}">
                    UserName
                </h4>
            </div>
            
            <form action="Perfil" th:action="@{/Perfil}" th:object="${usuario}" th:method="post" enctype="multipart/form-data">
                <input type="hidden" id="userName" name="userName" th:field="*{userName}" />
                <div>
                    <div id="img-upload-btn" class="thumbnail text-over btn btn-default new-pic-upl">
                        <img th:if="*{foto == null}" src="/resources/img/image-icon.png" th:src="@{/resources/img/image-icon.png}" class="img-responsive"/>
                        <img th:if="*{foto != null}" src="/resources/img/image-icon.png" th:src="'https://storage.googleapis.com/digitalmenudev-180918.appspot.com/food/' + *{foto}" class="img-responsive"/>
                        <div id="loading" class="caption over" style="display: none;">
                            <img src="/resources/img/loading.gif" th:src="@{/resources/img/loading.gif}" class="center"/>
                        </div>
                        <div class="caption over">
                            Agregar foto
                        </div>
                    </div>
                    <input id="file" name="file" type="file" accept="image/*" style="display: none;"/>
                </div>
                <div class="form-group">
                    <div>
                        <label for="usuario.nombre">Nombre</label>
                    </div>
                    <div>
                        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="usuario.email">Correo electr&oacute;nico</label>
                    </div>
                    <div>
                        <input type="text" id="email" name="email" th:field="*{email}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="password">Contrase&ntilde;a</label>
                    </div>
                    <div>
                        <input type="password" th:field="*{password}" id="password" name="password" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="confirmaPassword">Confirma contrase&ntilde;a</label>
                    </div>
                    <div>
                        <input type="password" th:field="*{confirmaPassword}" id="confirmaPassword" name="confirmaPassword" class="form-control"/>
                    </div>
                </div>
                <input type="submit" id="submit" name="submit" class="btn btn-warning btn-block" value="Guardar cambios"/>
            </form>
        </section>
    </body>
</html>